html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  margin: 0 auto;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container-fluid {
  padding: 0;
}

header {
  background-image: url(img/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: auto;
}

#logo1 {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}

main {
  height: 100%;
  margin-top: 100vh;
  z-index: 2;
  position: relative;
}

h2 {
  color: #c21717;
  font-size: 30px;
  padding: 20px 0;
}

.main-content {
  background-color: #fae8e0;
  padding: 25px 50px;
  text-align: justify;
}

nav ul {
  border-bottom: 3px solid #720505;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #010101;
  padding: 15px 0 20px 0;
}

li {
  display: inline-block;
  background-color: #b02424;
  border: 2px solid #490e0e;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 5px;
}

.menu:link {
  color: #d5d5d5;
  text-decoration: none;
}

.menu:hover {
  color: #e8d8d8;
}

.menu:visited {
  color: #000;
}

.menu:active {
  color: #9a1b0d;
}

.subheading {
  background-color: #edbebe5d;
  border-top: 1px solid #d71212;
  border-bottom: 1px solid #d71212;
  color: #c21717;
  font-size: 38px;
  font-weight: bold;
  padding: 5px 0;
  text-align: center;
}

.part2 {
  max-width: 80%;
  padding-bottom: 20px;
}

#picture {
  padding: 5px;
  margin-bottom: 20px;
}

.about {
  width: 80%;
  padding-bottom: 20px;
}

.img-alphas {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  padding: 4px;
}

.photo {
  display: inline-block;
  overflow: hidden;
}

.photo img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.photo:hover img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.socials {
  text-align: center;
  font-size: 60px;
}

.socialdivs {
  border-top: 1px solid #d71212;
  border-bottom: 1px solid #d71212;
  text-align: center;
  cursor: pointer;
  color: #720505;
}

.fb,
.yt,
.tw,
.gplus {
  float: left;
  width: 25%;
}

.fb:hover,
.yt:hover,
.tw:hover,
.gplus:hover {
  color: #c21717;
  background-color: #730d0d;
  text-shadow: 3px 3px 20px #010101;
}

.contact {
  background-color: #000;
}

footer {
  background-color: #000;
  z-index: 2;
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #c4c3c3;
  padding: 40px 0;
}

.git-link {
  border: 1px solid #000;
  border-radius: 25px;
  color: #e8d8d8;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 5px;
}

.git-link:hover {
  color: #c21717;
}
